<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

  <h1>Main Page</h1>
  <%- include('partials/nav') %>

  <main>
    <h2>Students and grades</h2>

    <ul>
      <% students.forEach(student => { %>
        <li><%= student.name %> got a <%= student.note %></li>
      <% }) %>
    </ul>

    <p><%= message %></p>
    
  </main>

  <!-- Footer -->
  <%- include('partials/footer') %>
</body>
</html>